<h1>Login</h1>

<div id="regular_login" class="clearfix al form" <%= open_id_request? ? "style=\"display:none;\"" : "" %>>
	<a href="/login/openid"><img src="/images/openid.gif" class="icon"></a> <a href="/login/openid">Usar OpenID</a><br><br>
	
	<%= flash_message :login_errors, :error %>
	<%= flash_message :login_message, :success, :div, false %>

	<% form_tag(session_url) do %>
	<fieldset class="mb">
		
		<p>
			<label for="email">Email:</label><br>
			<%= text_field_tag "email" %>
		</p>

		<p>
			<label for="password">Password:</label><br>
			<%= password_field_tag %>
		</p>
</fieldset>


<p><%= submit_tag 'Sign in &raquo;', :disable_with => "Signing in&hellip;" %></p>
<% end %>
</div>

<div id="openid_login" class="clearfix al form" <%= !open_id_request? ? "style=\"display:none;\"" : "" %>>
	<a href="/login">Usar Email/Password</a><br><br>
	
<% form_tag(session_url) do %>

<fieldset class="mb">
	<p>
		<label for="openid_url">OpenID:</label><br>
		<%= text_field_tag "openid_url" %> <%= flash_message :open_id_errors, :error, :span %>
	</p>
</fieldset>

<p><%= submit_tag 'Sign in &raquo;', :disable_with => "Signing in&hellip;" %></p>
<% end %>
</div>