<div class="leftbar">
	<h1><%= h @talk.title %></h1>
	<p><%= h @talk.description %></p>
</div>
<div id="comments" class="mb clearfix">
	<h4 class="mb">Comentários (<%= @talk.comments_count %>)</h4>
	<%= render :partial => "comment", :collection => @talk.comments %>
</div>

<% if logged_in? %>
<div class="clearfix form al">
	<h4>Novo comentário:</h4>
	<% form_for :comment, :url => {:controller => "comments", :action => "create", :id => @talk.id} do |f| %>
		<%= f.text_area :body %>
		<%= f.submit "Submit &raquo;"%>
	<% end %>
</div>
<% else %>
Para deixar um comentário, é preciso fazer login.
<% end %>