<div class="leftbar narrow clearfix">
	<h1 class="talk"><%= h @talk.title %></h1>
	<h2 class="smaller"><%= image_tag @talk.user.gravatar(16), :alt => "" %> <%= @talk.user.name %></h2>
	<%= white_list @talk.body_html %>
	
  <h2>Assets:</h2>
	<%= render :partial => "talks/asset", :collection => @talk.assets %>

  <% if logged_in? and @talk.user == current_user %>
      <h4>Upload asset</h4>
      <% form_for(:asset, :url => { :action => "upload_asset", :id => @talk.id }, :html => { :multipart => true }) do |form| %>
        <%= form.file_field :uploaded_data %>
        <%= form.submit "OK &raquo;"%>
      <% end%>
  <% end %>
</div>

<div id="comments" class="mb clearfix">
	<h4 class="mb">Comentários (<%= @talk.comments_count %>)</h4>
	<%= render :partial => "comment", :collection => @talk.comments %>
</div>

<% if logged_in? %>
<div class="clearfix form al">
	<h4>Novo comentário (aceita <%= textile_link "textile" %>):</h4>
	<% form_for :comment, :url => {:controller => "comments", :action => "create", :id => @talk.id} do |f| %>
		<%= f.text_area :body %>
		<%= f.submit "Submit &raquo;"%>
	<% end %>
</div>
<% else %>
Para deixar um comentário, é preciso fazer login.
<% end %>