<h1><%= @talk.title %></h1>

<p><%= @talk.description %></p>
	
<strong>Comments (<%= @talk.comments_count %>)</strong><br/>
<%= render :partial => "comment", :collection => @talk.comments %>
O teu comment:
<% form_for :comment, :url => {:controller => "comments", :action => "create", :id => @talk.id} do |f| %>
	<%= f.text_area :body %>
	<%= f.submit "Submit &raquo;"%>
<% end %>