<% hcard "div" do |card| %>
	<h1><%= card.name @user.to_s, :url => @user.url %></h1>
	<%= card.photo :src => @user.gravatar(80) %>
<% end %>

<% if @user.has_info? %>
<h2>Detalhes</h2>
	<%= twitter_profile(@user) %><br>
	<%= delicious_profile(@user) %><br>
	<%= personal_url(@user) %><br>
	<%= company(@user) %><br>
	<%= bio(@user) %><br>
<% end %>


<h2>Sessões:</h2>
<li>
	<%= render :partial => "events/talk", :collection => @user.talks %>
</li>