<h1>Detalhes do profile</h1>

<div class="mb form">
<p>Estes detalhes são usados para criar um hCard, facilitando assim a troca de contactos entre os participantes. (Só acessível para utilizadores autenticados)</p>

<% form_for :user do |f| -%>

<p><label for="twitter_username">Twitter username</label><br/>
<%= f.text_field :twitter_username %></p>

<p><label for="delicious_username">Delicious username</label><br/>
<%= f.text_field :delicious_username %></p>

<p><label for="personal_url">URL (blog, linked in ou outra coisa qualquer)</label><br/>
<%= f.text_field :personal_url %></p>

<p><label for="company">Company</label><br/>
<%= f.text_field :company %></p>

<p><label for="bio">Bio</label><br/>
<%= f.text_area :bio %></p>

<p><%= submit_tag 'Submit &raquo;' %></p>
<% end -%>
</div>