<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Barcamp Portugal 2008</title>
<%= stylesheet_link_tag "reset-fonts-grids", "base", "screen", :cache => true %>
<%= javascript_include_tag :defaults, :cache => true %>
</head>
<body>
<div id="doc">
	
	<div id="hd">
		<h1><a href="/"><img src="/images/banner-333.png"></a></h1>
		<h2>A acontecer em Coimbra nos dias 6 e 7 de Setembro de 2008.</h2>
		<%= menu %>
	</div>
	
	<div id="bd">
		<div id="yui-main" class="box">
			<div class="yui-b">
				<%= flash_message :message, :success, :div, false %>
			</div>
			<%= yield %>
		</div>
	</div>
	
   	<div id="ft">Barcamp Portugal 2008 &mdash; Dúvidas, sugestões ou qualquer outra coisa: <a href="mailto:barcamp@webreakstuff.com">email</a></div>
</div>
</body>
</html>
